.gallery {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
}
.gallery-slider {
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}
.swiper-slide {
  width: auto;
  height: 400px;
}
.swiper-slide img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.gallery-thumbs {
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.swiper-slide {
  width: 100px;
  height: 100px;
  text-align: center;
  overflow: hidden;
}
.swiper-slide-active {
  opacity: 1;
}
.swiper-slide img {
  width: auto;
  height: 100%;
}
.swiper_button_prev,
.swiper_button_next {
  position: absolute;
  height: 64px;
  width: 35px;
  background-color: rgba(17, 43, 58, 0.5);
  z-index: 3;
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
}
.swiper_button_prev {
  top: 18px;
  left: 0;
  border-radius: 0 10px 10px 0;
}
.swiper_button_next {
  top: 18px;
  right: 0;
  border-radius: 10px 0 0 10px;
}
.swiper_button_prev::before,
.swiper_button_next::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  margin: auto;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.swiper_button_prev::before {
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
}
.swiper_button_next::before {
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}
